body {
    background-image : url("images/pyramideLouvreOpaciteReduite.jpg");
    background-attachment : fixed;
    background-position : center;
    
}

.navbar-text{
    font-size : 25px;
}

.navbar-brand{
    font-size : 25px;
}

.formulaire{
    margin-left:2cm;
    margin-top:2cm;
    width:12cm;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0094FF;
    color: white;
    text-align: center;
}

header{
    position:fixed;
    width:100%
}

#Client{

}
